*{
    margin:0;
    padding:0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}
.bluu [:target]{
    color: blue;
    background: green;
   
}
.banner{
    
    background: url('software company.jpg');
    height: 100vh;
    width: 100%;
    background-position:center;
    background-size:cover;
    
    
}
.content{
    transform: translateY(-400px);
    color:wheat;
    text-align:center;
}
.content h1{
    font-size:100px;
    color:rgb(127, 205, 205)
}
.content p{
    text-align:center;
    display: inline-block;
    margin-right:350px;
    margin-left:350px;
    color:green;
    font-weight:1000px;
    cursor: pointer;
    
}
.content p::selection {
    background:white;
    color: blue; 
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 100%;
    padding: 0px 0px;
    transition:1s;ss
}
.navbar li{
    list-style:none;
    display: inline-block;
    margin: 20px;
    position: relative;
}
.navbar li a{
    text-decoration: none;
    font-size: 25px;
    color:white;
}
.navbar li a::before{
    content: ' ';
    width:0%;
    height: 3px;
    background:skyblue;
    position: absolute;
    margin-top: 25px;
    transition:.5s;
}
.navbar li a:hover::before{
    width: 100%;
}
.logo{
    width: 100px;
    cursor:alias;
}
button{
   font-size: 30px;
   border-radius: 20px;
   background:green;
   padding: 5px 20px;
   box-shadow:0 5px 10px yellow;
   margin-top: 10px;
}
button a{
    text-decoration:none;
    color:white;
}
button:hover{
    cursor: pointer;
    background:#ADD8E6;
 }
 button:active{
    transform: translateY(4px);
 }





  